{% extends 'back/base.html.twig' %}

{% block body %}
    <h1>Contact</h1>

    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ contact.author }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ contact.body }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if contact.created %}{{ contact.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact.email }}</td>
            </tr>
        </tbody>
    </table>
    
    <ul class="buttons">
        <li>
            <a href="{{ path('contact_index') }}" class="btn btn-primary"><i class="fa fa-list"></i>Back to the list</a>
        </li>
        <li>
            <a href="{{ path('contact_edit', { 'id': contact.id }) }}" class="btn btn-primary"><i class="fa fa-pencil" style="color: white;"></i>Izmeni</a>
        </li>
        <li>
            {% block delete_button %}
                {% include 'back/common/delete_button.html.twig' %}
            {% endblock %}
        </li>
        <li>
            {# show ip #}
            {% if user_ip.ip is defined %}
                <span class="btn btn-primary do-not-receive">{{ user_ip.ip }}</span>
            {% endif %}
        </li>
    </ul>
            
    <script>
        $(document).ready(function () {
            $('.do-not-receive').on('click', function () {
                var ip = $(this).text();
                //console.log(ip);
                $.ajax({
                    url: "{{ path('forbid_ip')|escape('js') }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        ip: ip
                    }
                }).done(function (data) {
                    console.log(data);
                });
            });
        });
    </script>
{% endblock %}
