<nav class="navbar navbar-default navbar-static-top margin-botom-0" role="navigation" >

    <div class="navbar-header no-padd no-margin">
        <a class="navbar-brand icon-bar title-pic logo-back" href="{{ path('homepage') }}">
            <img src="{{asset('favicon.jpg')}}" class="logo-back-img">
            Istorija58 | Admin panel
        </a>
    </div>

    <ul class="navbar-right nav-list">
        <li class="back-nav-list-li">
            <div>
                <a class="navbar-brand header-link" href="{{ path('logout') }}">
                    Logout
                </a>
            </div>
        </li>
        <li class="back-nav-list-li">
            <div class="search-div">
                <form action="{{ path('search_back') }}" class="searchform" method="get" name="searchform" target="_blank">
                <input type="text" name="q" placeholder="Pretrazi postove"/>
                <button type="submit">Go!</button>
                </form>
            </div>
        </li>
        <li class="back-nav-list-li">
            <div>
                <a class="navbar-brand header-link" href="{{ path('main_front_page') }}">
                    Naslovna
                </a>
            </div>
        </li>
        <li class="back-nav-list-li back-nav-dropdown">
            <div>
                <a class="navbar-brand header-link " href="#">
                    Kategorije
                </a>
            </div>
            <div>    
                <ul class="back-nav-dropdown-ul">
                    {% for category in categories %}
                        <li class="back-nav-dropdown-li no-margin">
                            <a class="back-nav-dropdown-li-a" href="{{ path( 'list_posts_by_categories_back', { 'id': category.id, 'title': category.title } ) }}">{{ category.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>

    </ul>
</nav>