{% extends 'back/base.html.twig' %}

{% block body %}
    <h1>Admin</h1>

    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Ime</th>
                <td>{{ admin.firstName }}</td>
            </tr>
            <tr>
                <th>Prezime</th>
                <td>{{ admin.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ admin.email }}</td>
            </tr>
            <tr>
                <th>Pasvord</th>
                <td>{{ admin.password }}</td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>{{ admin.phone }}</td>
            </tr>
            <tr>
                <th>Vreme nastanka</th>
                <td>{{ admin.created|date("m/d/Y") }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="buttons">
        <li>
            <a href="{{ path('admin_index') }}" class="btn btn-primary">
                <i class="fa fa-list"></i>
                Nazad na listu
            </a>
        </li>
        <li>
            <a href="{{ path('admin_edit', { 'id': admin.id }) }}" class="btn btn-primary">
                <i class="fa fa-pencil icon-color">
                </i>
                Izmeni
            </a>
        </li>
        <li>
            {% block delete_button %}
                {% include 'back/common/delete_button.html.twig' %}
            {% endblock %}
        </li>
    </ul>
{% endblock %}
