<!--included in main_page.html.twig-->

{% for comment in comments %}
    {% if comment.status == '1' %}

        <div  class="comnnets-list">
            <div class="showed-comment">
                <div>
                    <h5 class="mt-0 display-inline"><i>{{ comment.author }}</i></h5>
                    <i class="float-right">{{ comment.created|date('Y-m-d') }}</i><span>,</span>
                    <i class="float-right">{{ comment.created|date('H:i:s') }}</i>
                </div>
                        {{ comment.body }}
                <input class="hidden-id-comment" type="hidden" value="{{ comment.id }}">
                <button class="button-reply">Odgovori</button>
                {% if comment.children|length %}
                    <button class="show-answers button-answers"> <i class="fa fa-angle-down"></i> </button>
					{{ 'Odgovora  ' }}{{ comment.children|length }}
				{% endif %}
                <!-- Replies -->

                <!-- Reply form -->
                <div class="card my-4 reply-form">
                    <h5 class="card-header" >Ostavi komentar:</h5>
                    <div class="card-body" >
                        <form action="{{ path('comments-front') }}" method="POST">
                            <div class="form-group" >
                                <input type="hidden" name="parentId" class="parentId" value="">

                                <label for="author">Ime</label>
                                <input type="text" name="author" id="author" required class="form-control"/>
                            </div>
                            <div class="form-group" >
                                <label for="body">Komentar</label>
                                <textarea type="text" name="body" id="body" required class="form-control"></textarea>
                            </div>
                            <input type="submit" value="Potvrdi" class="btn btn-primary btn-create btn-move-fafa"/>
                        </form>
                    </div>
                </div>
            </div>
            <div class="answers display-none">
                {% if comment.children|length %}
                    {% include 'front/main/comments_main.html.twig' with {'comments':comment.children} %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}{# include 'front/main/comments_main.html.twig' with {'comments':children} #}

