{% extends 'back/base.html.twig' %}

{% set page_title = 'Pocetna' %}

{% block body %}

    <h3>Poslednje dodati postovi:</h3>
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>Naslov</th>
                <th>Autor</th>
                <th>Adminid</th>
                <th>Kategorija</th>
                <th>Vreme unosa</th>
                <th>Status</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr class="odd gradeX">
                    <td><a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.title }}</a></td>

                    <td>{{ post.author }}</td>
                    <td>{{ post.adminId }}</td>
                    <td>{{ post.category }}</td>
                    <td>{% if post.created %}{{ post.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ post.status }}</td>
                    <td>
                        <ul style="list-style-type: none">
                            <li>
                                <a class="btn btn-primary fixed_left"  href="{{ asset('uploads/posts/') }}{{post.body}}" target="_blank">Otvori</a>
                                <a href="{{ path('post_show', { 'id': post.id }) }} "  class="btn btn-primary"><i class="fa fa-eye"></i>show</a>
                                <a href="{{ path('post_edit', { 'id': post.id }) }}"  class="btn btn-primary"><i class="fa fa-pencil"></i>edit</a>
                                
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if maxPages > 1 %}
        <ul class="pagination pagination-sm">
            {# `«` arrow  #}
            {# `currentPage var is the one defined in routing yaml/pageroute/defaults.  #}
            <li {% if thisPage == 1  %} class="disabled" {% endif %} >
                <a href="{{ path('homepage', { currentPage: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
            </li>

            {# Render each page number #}
            {% for i in 1..maxPages %}{# Creates a sequence based on the operand before and after the operator!!! #}
                <li {% if thisPage == i  %} class="active"  {% endif %} >

                    <a href="{{ path('homepage', { currentPage: i}) }}" >{{ i }}</a>
                </li>
            {% endfor %}

            {# `»` arrow #}
            <li {% if thisPage == maxPages %} class="disabled" {% endif %} >
                <a href="{{ path('homepage', { currentPage: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
            </li>
        </ul>
    {% endif %}

    <h3>Poslednje dodati komentari:</h3>
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>Author</th>
                <th>Sadržaj</th>
                <th>Vreme unosa</th>
                <th>Status</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
                <tr class="odd gradeX">
                    <td><a href="{{ path('comment_show', { 'id': comment.id }) }}">{{ comment.author }}</a></td>
                    <td>{{ comment.body }}</td>
                    <td>{% if comment.created %}{{ comment.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ comment.status }}</td>
                    <td>
                        <ul style="list-style-type: none">
                            <li>

                                <a href="{{ path('comment_show', { 'id': comment.id }) }} "  class="btn btn-primary"><i class="fa fa-eye"></i>show</a>
                                <a href="{{ path('comment_edit', { 'id': comment.id }) }}"  class="btn btn-primary"><i class="fa fa-pencil"></i>edit</a>
                                
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Poslednje dodata pitanja:</h3>
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>Autor</th>
                <th>Sadržaj</th>
                <th>Email</th>
                <th>Vreme unosa</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr class="odd gradeX">
                    <td><a href="{{ path('contact_show', { 'id': contact.id }) }}">{{ contact.author }}</a></td>
                    <td>{{ contact.body }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{% if contact.created %}{{ contact.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <ul style="list-style-type: none">
                            <li>
                            
                                <a href="{{ path('contact_show', { 'id': contact.id }) }} "  class="btn btn-primary"><i class="fa fa-eye"></i>show</a>
                                <a href="{{ path('contact_edit', { 'id': contact.id }) }}"  class="btn btn-primary"><i class="fa fa-pencil"></i>edit</a>
                            
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
