{% extends 'front/front-main.html.twig' %}

{% set page_title = title %}
{% block body %}
    <div class="row main-div">
        <div class="col-md-12">
            <h3 class="kviz-title">Kviz - {{ quiz.quizName }}</h3>
            <span class="instruction">Odgovori na pitanja:</span><span class="result">0</span>
            <div>
                <div id="quiz-panel">
                    {# dump(questions) #}
                    {% set total_points = 0 %}
                    {% for question in questions %}
                        <div id="{{ question.id }}" class="single-question-block" style="display:none;" >
                            <input type="hidden" class="bubling-check" value="">
                            <h4 class="quiz-question" data-points="{{ question.lesson }}">{{ question.question }}</h4>

                            <div class="check-button mark-answer">
                                <input type="checkbox" class="check-btn check-b" value="{{ question.answer1 }}" >{{ question.answer1 }}<br>
                            </div>
                            <div class="check-button mark-answer">
                                <input type="checkbox" class="check-btn check-b" value="{{ question.answer2 }}" >{{ question.answer2 }}<br>
                            </div>
                            <div class="check-button mark-answer">
                                <input type="checkbox" class="check-btn check-b" value="{{ question.answer3 }}" >{{ question.answer3 }}<br>
                            </div>
                            <div class="check-button mark-answer">
                                <input type="checkbox" class="check-btn check-b" value="{{ question.answer4 }}" >{{ question.answer4 }}<br>
                            </div>
                            <div class="row">
                                <div class="col-8 col-sm-8 col-md-8">
                                    <div class="hidden-success-info">
                                        <span class="info-Scs">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-4 col-md-4">
                                    <button class="btn-default ans">Odgovori</button>
                                    <button class="btn-default forword">Dalje</button>
                                </div>
                            </div>
                            <div class="row hidden-answerQ" style="display:none" data-lesson="{{ question.lesson }}">
                                <div class="col-xs-12 col-md-6">
                                    <span>{{ question.lesson }} </span>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <img class="img-no-over-edges" src="{{ '/uploads/img/' ~ question.img }}">
                                </div>
                            </div>
                            {% if question.learnMore is defined %}
                                <div class="col-xs-12 col-md-12">
                                    <a href="{{ question.learnMore }}">Saznaj vise!</a>
                                </div>
                            {% endif %}

                            <div class="hidden-points" style="display:none;" data-points="{{ question.points }}">
                            </div>
                            <div class="hidden-answerZ trueanswer" style="display:none;" data-realanswer="{{ question.trueAnswer }}">
                            </div>
                        </div> 
                        {% set total_points = total_points +  question.points %}
                    {% endfor %}
                    <div class="single-question-block">
                        <div class="hidden-end">
                            <span class="hidden-answerEnd smaller-letters" id="end-info"></span><br>
                            <span class="hidden-answerEnd bigger-letters" id="end-mark"></span>
                        </div>
                    </div>
                </div>
                <p id="points-old" style="display:none;">0</p>
                <p id="points-full-old" style="display:none;">0</p>
            </div>
        </div>
    </div>
    <script>
        $('input').prop('checked', false);
        $(document).ready(function () {

            var total = 0;
            // Display first question else hide!
            var all_points
            = {{ total_points }};
                    var firstQue = $('.single-question-block').first();
            $('.single-question-block').first().show();
            $(firstQue).nextAll().hide();

            // Make elements brighter on hover
            // Answer lines
            $('.check-button').hover(function () {
                $(this).addClass('transition');
                $(this).css('background-color', '#7cf24d');
            }, function () {
                $(this).removeClass('transition');
                $(this).css('background-color', '#4CAF50');
            });

            // Buttons
            $('.ans').hover(function () {
                $(this).addClass('transition');
                $(this).css('background-color', '#63cef2');
            }, function () {
                $(this).removeClass('transition');
                $(this).css('background-color', '#007bff');
            });

            $('.mark-answer').on('click', function (event) {
                event.preventDefault();
                event.stopPropagation();
                
                $('input').prop('checked', false);
                $(this).find('input').prop('checked', true);
                
                return false;
            });

            /*if ($(this).find('input').is(':checked')) {
             
             } else {
             var choosed = $(this).find('input').val();
             }*/



            $('.ans').on('click', function (event) {
                event.preventDefault();
                event.stopPropagation();

                var choosed_arr = $(this).closest('.single-question-block').find('.mark-answer');
                //console.log(choosed_arr);
                var i;
                var maybe;
                for (i = 0; i < choosed_arr.length; i++) {
                    maybe = $(choosed_arr[i]).find('input');
                    console.log(maybe);
                    if (maybe.is(':checked')) {
                        var choosed = $(maybe).val();
                    }
                }
                //console.log(choosed);
                $('input').prop('checked', false);
                $(this).find('input').prop('checked', true);

                // Get true answer.
                var realAns = $(this).closest('.single-question-block').find('.trueanswer').data('realanswer');

                if (choosed === realAns && choosed != '1') {

                    // Change buttons
                    $('.ans').hide();
                    $('.forword').show();

                    // Display info success and points
                    var points_old = $('#points-old').html();
                    points_old = parseInt(points_old);

                    var points_new = $(this).closest('.single-question-block').find('.hidden-points').data('points');
                    points_new = parseInt(points_new);
                    total = points_old + points_new;

                    $(this).closest('.single-question-block').find('.info-Scs').html('TAČNO! Osvojio si ' + points_new + ' poena i sada imas  ' + total);
                    $(this).closest('.single-question-block').find('.hidden-success-info').show();

                    var temp_percent = total / all_points;
                    var percent_of_success = temp_percent * 100;
                    percent_of_success = Math.round(percent_of_success);

                    // Display lesson if there is any
                    var lesson = $(this).closest('.single-question-block').find('.hidden-answerQ').data('lesson');
                    if (lesson != null && lesson != '' && lesson != false) {
                        $(this).closest('.single-question-block').find('.hidden-answerQ').show();
                    }

                    //switch to next question!
                    if (choosed != '1') {
                        $('.forword').click(function () {
                            $(this).closest('.single-question-block').hide();
                            $(this).closest('.single-question-block').next().show();
                            // $('.ans').html('Odgovori');
                            $('.ans').show();
                            $('.forword').hide();
                        });
                    }
                    $('.result').html(total);
                    $('#points-old').html(total);
                    choosed = '1';

                    $('#end-info').html('Osvojio si ' + total + ' poena. Maksimalni broj poena na ovom kvizu bio je '
                            + all_points + '. To predstavlja ' + percent_of_success + '% tacnih odgovora.'
                            );
                    if (percent_of_success >= 90) {
                        $('#end-mark').html('Dobio si peticu! Bravo! Pravi si streber! :)');
                    } else if (70 < percent_of_success && percent_of_success <= 89) {
                        $('#end-mark').html('Dobio si četvorku! Nije loše! :)');
                    } else if (50 < percent_of_success && percent_of_success <= 69) {
                        $('#end-mark').html('Dobio si trojku. Pokreni se čoveče! :/');
                    } else if (30 < percent_of_success && percent_of_success <= 49) {
                        $('#end-mark').html('Dobio si dvojku. Brzo knjigu u šake! :(');
                    } else if (percent_of_success <= 29) {
                        $('#end-mark').html('Dobio si jedinicu. Prestani da igraš igrice i počni da učiš!');
                    }
                } else if (choosed !== realAns && choosed != '1') {
                    $('.ans').hide();
                    $('.forword').show();

                    var points_old = $('#points-old').html();
                    points_old = parseInt(points_old);
                    //console.log(points_old);
                    var points_new = $(this).closest('.single-question-block').find('.hidden-points').data('points');
                    points_new = parseInt(points_new);
                    total = points_old + points_new;

                    $(this).closest('.single-question-block').find('.info-Scs').html('NETAČNO! I dalje imaš ' + points_old);
                    $(this).closest('.single-question-block').find('.hidden-success-info').show().css('background-color', 'red');

                    // Calculate max points .hidden-points
                    var temp_points = $(this).closest('.single-question-block').find('.hidden-points').data('points');
                    var tempora_points = parseInt(temp_points);
                    var old_full_points = $('#points-full-old').html();
                    old_full_points = parseInt(old_full_points);

                    var temp_percent = points_old / all_points;
                    var percent_of_success = temp_percent * 100;
                    percent_of_success = Math.round(percent_of_success);

                    // Display lesson if there is any
                    var lesson = $(this).closest('.single-question-block').find('.hidden-answerQ').data('lesson');
                    if (lesson != null && lesson != '' && lesson != false) {
                        $(this).closest('.single-question-block').find('.hidden-answerQ').show();
                    }

                    //switch to next question!
                    if (choosed != '1') {
                        $('.forword').click(function () {
                            // console.log($('.ans').html());
                            $(this).closest('.single-question-block').hide();
                            $(this).closest('.single-question-block').next().show();
                            //$('.ans').html('Odgovori');
                            $('.ans').show();
                            $('.forword').hide();
                        });
                    }
                    $('.result').html(points_old);
                    $('#points-old').html(points_old);
                    choosed = '1';

                    $('#end-info').html('Osvojio si ' + points_old + ' poena. Maksimalni broj poena na ovom kvizu bio je '
                            + all_points + '. To predstavlja ' + percent_of_success + '% tacnih odgovora.'
                            );
                    if (percent_of_success >= 90) {
                        $('#end-mark').html('Dobio si peticu! Bravo! Pravi si streber! :)');
                    } else if (70 < percent_of_success && percent_of_success <= 89) {
                        $('#end-mark').html('Dobio si četvorku! Nije loše! :)');
                    } else if (50 < percent_of_success && percent_of_success <= 69) {
                        $('#end-mark').html('Dobio si trojku. Pokreni se čoveče! :/');
                    } else if (30 < percent_of_success && percent_of_success <= 49) {
                        $('#end-mark').html('Dobio si dvojku. Brzo knjigu u šake! :(');
                    } else if (percent_of_success <= 29) {
                        $('#end-mark').html('Dobio si jedinicu. Prestani da igraš igrice i počni da učiš!');
                    }
                }
            });
        });
    </script>
{% endblock %}
