{% extends 'front/base.html.twig' %}
{% block body %}
    <div>
        <form action="{{ path('video_search') }}" method="GET">
            <input type="text" name="q" placeholder="pretraga videa" id="video-search" class="form-control video-search-field">
            <input type="submit" value="GO!"  class="btn btn-primary video-search-button">
        </form>
    </div>
        

        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>Naslov</th>
                <th class="txt-indent-10">Akcije</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.title }}</td>
                
                <td>
                    <ul class="td-list">
                        <li>
                            <a href="{{ path('video_play', { 'id': video.id }) }}" class="btn btn-primary" >
                                <i class="fa fa-youtube-play margin-right-3" ></i>
                                play
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if maxPages > 1 %}
        <ul class="pagination pagination-sm">
            {# `«` arrow  #}
            {# `currentPage var is the one defined in routing yaml/pageroute/defaults.  #}
            <li {% if thisPage == 1  %} class="disabled" {% endif %} >
                <a href="{{ path('video_play', { currentPage: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
            </li>

            {# Render each page number #}
            {% for i in 1..maxPages %}{# Creates a sequence based on the operand before and after the operator!!! #}
                <li {% if thisPage == i  %} class="active"  {% endif %} >

                    <a href="{{ path('video_play', { currentPage: i}) }}" >{{ i }}</a>
                </li>
            {% endfor %}

            {# `»` arrow #}
            <li {% if thisPage == maxPages %} class="disabled" {% endif %} >
                <a href="{{ path('video_play', { currentPage: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
            </li>
        </ul>
    {% endif %}

{% endblock %}