{% extends 'back/base.html.twig' %}

{% block body %}
    <h1>Lista komentara</h1>

    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>Autor</th>
                <th>Tekst</th>
                <th>Vreme nastanka</th>
                {#<th>Postid</th>#}
                <th>Status</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.author }}</td>
                <td>{{ comment.body }}</td>
                <td>{% if comment.created %}{{ comment.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                {#<td>{{ comment.postId }}</td>#}
                <td>{{ comment.status }}</td>
                <td class="space-for-action">
                    <ul  class="buttons buttons-in-line">
                        <li>
                            <a href="{{ path('comment_show', { 'id': comment.id }) }}" class="btn btn-primary">
                                <i class="fa fa-eye"></i>
                                Prikazi
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('comment_edit', { 'id': comment.id }) }}" class="btn btn-primary">
                                <i class="fa fa-pencil"></i>
                                Izmeni
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if maxPages > 1 %}
        <ul class="pagination pagination-sm">
            {# `«` arrow  #}
            {# `currentPage var is the one defined in routing yaml/pageroute/defaults.  #}
            <li {% if thisPage == 1  %} class="disabled" {% endif %} >
                <a href="{{ path('comment_index', { currentPage: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
            </li>

            {# Render each page number #}
            {% for i in 1..maxPages %}{# Creates a sequence based on the operand before and after the operator!!! #}
                <li {% if thisPage == i  %} class="active"  {% endif %} >

                    <a href="{{ path('comment_index', { currentPage: i}) }}" >{{ i }}</a>
                </li>
            {% endfor %}

            {# `»` arrow #}
            <li {% if thisPage == maxPages %} class="disabled" {% endif %} >
                <a href="{{ path('comment_index', { currentPage: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
