{% extends 'back/base.html.twig' %}

{% block body %}
    <h1>Komentar</h1>

    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Autor</th>
                <td>{{ comment.author }}</td>
            </tr>
            <tr>
                <th>Tekst</th>
                <td>{{ comment.body }}</td>
            </tr>
            {#<tr>#}
                {#<th>Postid</th>#}
                {#<td>{{ comment.postId }}</td>#}
            {#</tr>#}
            <tr>
                <th>"Parent" post</th>
                <td>{{ comment.postId }}</td>
            </tr>
            <tr>
                <th>Vreme nastanka</th>
                <td>{% if comment.created %}{{ comment.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul class="buttons">
        <li>
            <a href="{{ path('comment_index') }}" class="btn btn-primary">
                <i class="fa fa-list"></i>
                Nazad na listu
            </a>
        </li>
        <li>
            <a href="{{ path('comment_edit', { 'id': comment.id }) }}" class="btn btn-primary">
                <i class="fa fa-pencil icon-color" ></i>
                Izmeni
            </a>
        </li>
        <li>
            {% block delete_button %}
                {% include 'back/common/delete_button.html.twig' %}
            {% endblock %}
        </li>
        <li>
            {# show ip #}
            {% if user_ip.ip is defined %}
                <span class="btn btn-primary do-not-receive">Zabrani ip: {{ user_ip.ip }}</span>
            {% endif %}
        </li>
    </ul>
    <script>
        $(document).ready(function(){
            $('.do-not-receive').on('click', function(){
                var ip = $(this).text();
                //console.log(ip);
                $.ajax({
                    url: "{{ path('forbid_ip')|escape('js') }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        ip: ip
                    }
                }).done(function(data){
                    console.log(data);
                });
            });
        });
    </script>
{% endblock %}
